{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} Imprint {% endblock %}
{% block content %}
<div class="container">
<div class="card imprint">
<div class="card-body">
<p>
	<strong>Impressum</strong>
</p>
<p></p>
<p>
	Verantwortliche gem. Art. 4 Abs.7 EU-Datenschutz-Grundverordnung (DSGVO) für diese Seite ist:
</p>
<p><strong>Dieter Plehwe</strong>
<br>
"Düsseldorferstr. 71"
<br>
D-10719 Berlin
<br>
E-Mail-Adresse: ttnr[at]online.de
</p>
<p></p>
<p>
<strong>Fotos Startseite</strong>
": unsplash (Alina Grubnyak, Sergey Pesterev)"
</p>

</div>
</div>
</div>
{% endblock %}
